# Caddy ingress-конфиг.
# Каждый сервис публикуется на своём локальном порту.
# Заменить "localhost:<порт>" на свои поддомены, например:
#   grafana.kuronami.fun {
#       reverse_proxy grafana:3000
#   }
#
# Basic auth (admin / admi	n) вешается на все web-UI, кроме exporters.
# Заменить хеш на свой, сгенерировав его через:  caddy hash-password --plaintext <password>

# глобальный хендлер перехвата пятисоток. В хендлерах просто можно написать вначале: import handle_502
(handle_502) {
    handle_errors {
        @caddy_error expression {err.status_code} == 502
        handle @caddy_error {
            redir https://kuronami-images.storage.yandexcloud.net/502.html 302
        }
    }
}
# в кажом хендлере указывается домен (или :80 если http нужно) дальше логика. Данный хендлер переписывает кждый запрос, перенаправляя его на https://kuronami-images.storage.yandexcloud.net/404.html
www.kuronami.fun {
    rewrite * /404.html
    reverse_proxy https://kuronami-images.storage.yandexcloud.net {
        header_up Host kuronami-images.storage.yandexcloud.net
    }

}

minio.kuronami.fun {
       reverse_proxy minio:9000
}
auth.kuronami.fun {
       reverse_proxy auth-proxy-auth-proxy-1:6000
}
proxy.kuronami.fun {
       reverse_proxy auth-proxy-auth-proxy-1:5000
}
tools.kuronami.fun {
       reverse_proxy auth-proxy-auth-proxy-1:5000
}

inference.kuronami.fun {
    import handle_502

    reverse_proxy inference_caddy:80

    header {
        Content-Security-Policy "upgrade-insecure-requests"
    }
}

